<footer class="site-footer">

  <div class="wrapper">

    <h2 class="footer-heading">{{ site.title }}</h2>

    <div class="">
      <div class="col-4">
      <p>Contact me on any of the following channels.</p>
        <ul class="contact-list">
        {% if site.email %}
          <li>
            {% include icon-email.html username=site.email %}
          </li>
          {% endif %}
        </ul>
      </div>

      <div class="col-4">
        <ul class="social-media-list">
          {% if site.github_username %}
          <li>
            {% include icon-github.html username=site.github_username %}
          </li>
          {% endif %}

          {% if site.twitter_username %}
          <li>
            {% include icon-twitter.html username=site.twitter_username %}
          </li>
          {% endif %}
          {% if site.instagram_username %}
          <li>
            {% include icon-instagram.html username=site.instagram_username %}
          </li>
          {% endif %}
          {% if site.linkedin_username %}
          <li>
            {% include icon-linkedin.html username=site.linkedin_username %}
          </li>
          {% endif %}
        </ul>
      </div>

      <div class="col-4">
        <p>{{ site.description }}</p>
      </div>
    </div>

  </div>

</footer>
