<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta http-equiv="Cache-control" content="public" max-age=604800000>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="google-site-verification" content="5qMgrUIjPHyDkDyn9C5g337Q5A5qdkDMffgbMHwhfyM" />
  <title>{% if page.title %}{{ page.title | escape }}{% else %}{{ site.title | escape }}{% endif %}</title>
  <meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">
  <!-- <link rel="stylesheet" href="{{ "/css/main.css" | prepend: site.baseurl }}"> -->
  <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
  <link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ "/feed.xml" | prepend: site.baseurl | prepend: site.url }}">
  <script>
    [
      'https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js',
      '/assets/javascripts/main.js'
    ].forEach(function(src) {
      var script = document.createElement('script');
      script.src = src;
      script.async = false; 
      document.head.appendChild(script);
    });

  </script>
  <link rel="icon" type="image/png" href="https://img.tdevisscher.ca/images/tdevisscher.ca/48e37f64-2905-2132-fac5-a7c7c67f32ba.png" />
  <noscript id="deferred-styles">
    <link rel="stylesheet" type="text/css" href="{{ "/css/main.css" | prepend: site.baseurl }}"/>
  </noscript>
  </head>