/**
 * Reset some basic elements
 */

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
hr,
dl,
dd,
ol,
ul,
figure {
    margin: 0;
    padding: 0;
}

p.muted {
    font-size: 12px;
    color: #888;
}
.intro {
    color: white;
    background: #2a7ae2; 
}
.poste {
    font-weight: bold;
}


.white {
    color: #fff !important;
}

/**
 * Basic styling
 */

body {
    font: $base-font-weight #{$base-font-size}/#{$base-line-height} $base-font-family;
    color: $text-color;
    background-color: $background-color;
    -webkit-text-size-adjust: 100%;
    -webkit-font-feature-settings: "kern" 1;
    -moz-font-feature-settings: "kern" 1;
    -o-font-feature-settings: "kern" 1;
    font-feature-settings: "kern" 1;
    font-kerning: normal;
}


/**
 * Set `margin-bottom` to maintain vertical rhythm
 */

h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
ul,
ol,
dl,
figure,
%vertical-rhythm {
    margin-bottom: $spacing-unit / 2;
}
/* Better styles for embedding GitHub Gists */
.gist{font-size:12px;line-height:18px;margin-bottom:20px;width:100%}
.gist pre{font-family:Menlo,Monaco,'Bitstream Vera Sans Mono','Courier New',monospace !important}
.gist-meta{font-family:Helvetica,Arial,sans-serif;font-size:13px !important}
.gist-meta a{color:#26a !important;text-decoration:none}
.gist-meta a:hover{color:#0e4071 !important}


/**
 * Images
 */

img {
    max-width: 100%;
    vertical-align: middle;
}


/**
 * Figures
 */

figure > img {
    display: block;
}

figcaption {
    font-size: $small-font-size;
}

#header-img {
    width: 100%;
    height: auto;
}


/**
 * Lists
 */

ul,
ol {
    margin-left: $spacing-unit;
}

li {
    > ul,
    > ol {
        margin-bottom: 0;
    }
}

.inline {
    display: inline;
}


/**
 * Headings
 */

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: $base-font-weight;
}
.outer {
    display: table;
    position: absolute;
    height: 100%;
    width: 100%;
    }
    .middle {
    display: table-cell;
    vertical-align: middle;
    }
    .inner {
        margin-left: auto;
        margin-right: auto;
        padding:25px;
        width: 500px;
    }
.content {display:none;}
.preload { 
    width:100px;
    height: 100px;
}

/*Cards */

.card {
    position: relative;
    display: block;
    margin-bottom: 0.75rem;
    background-color: #fff;
    border-radius: 0.25rem;
    border: 1px solid rgba(0, 0, 0, 0.125);
}

.card-block {
    padding: 1.25rem;
}

.card-block::after {
    content: "";
    display: table;
    clear: both;
}

.card-title {
    margin-bottom: 0.75rem;
}

.card-subtitle {
    margin-top: -0.375rem;
    margin-bottom: 0;
}

.card-text:last-child {
    margin-bottom: 0;
}

.card-link:hover {
    text-decoration: none;
}

.card-link + .card-link {
    margin-left: 1.25rem;
}

.card > .list-group:first-child .list-group-item:first-child {
    border-top-right-radius: 0.25rem;
    border-top-left-radius: 0.25rem;
}

.card > .list-group:last-child .list-group-item:last-child {
    border-bottom-right-radius: 0.25rem;
    border-bottom-left-radius: 0.25rem;
}

.card-header {
    padding: 0.75rem 1.25rem;
    background-color: #f5f5f5;
    border-bottom: 1px solid rgba(0, 0, 0, 0.125);
}

.card-header::after {
    content: "";
    display: table;
    clear: both;
}

.card-header:first-child {
    border-radius: 0.25rem 0.25rem 0 0;
}

.card-footer {
    padding: 0.75rem 1.25rem;
    background-color: #f5f5f5;
    border-top: 1px solid rgba(0, 0, 0, 0.125);
}

.card-footer::after {
    content: "";
    display: table;
    clear: both;
}

.card-footer:last-child {
    border-radius: 0 0 0.25rem 0.25rem;
}

.card-header-tabs {
    margin-right: -0.625rem;
    margin-bottom: -0.75rem;
    margin-left: -0.625rem;
    border-bottom: 0;
}

.card-header-pills {
    margin-right: -0.625rem;
    margin-left: -0.625rem;
}

.card-primary {
    background-color: #0275d8;
    border-color: #0275d8;
}

.card-primary .card-header,
.card-primary .card-footer {
    background-color: transparent;
}

.card-success {
    background-color: #5cb85c;
    border-color: #5cb85c;
}

.card-success .card-header,
.card-success .card-footer {
    background-color: transparent;
}

.card-info {
    background-color: #5bc0de;
    border-color: #5bc0de;
}

.card-info .card-header,
.card-info .card-footer {
    background-color: transparent;
}

.card-warning {
    background-color: #f0ad4e;
    border-color: #f0ad4e;
}

.card-warning .card-header,
.card-warning .card-footer {
    background-color: transparent;
}

.card-danger {
    background-color: #d9534f;
    border-color: #d9534f;
}

.card-danger .card-header,
.card-danger .card-footer {
    background-color: transparent;
}

.card-outline-primary {
    background-color: transparent;
    border-color: #0275d8;
}

.card-outline-secondary {
    background-color: transparent;
    border-color: #ccc;
}

.card-outline-info {
    background-color: transparent;
    border-color: #5bc0de;
}

.card-outline-success {
    background-color: transparent;
    border-color: #5cb85c;
}

.card-outline-warning {
    background-color: transparent;
    border-color: #f0ad4e;
}

.card-outline-danger {
    background-color: transparent;
    border-color: #d9534f;
}

.card-inverse .card-header,
.card-inverse .card-footer {
    border-color: rgba(255, 255, 255, 0.2);
}

.card-inverse .card-header,
.card-inverse .card-footer,
.card-inverse .card-title,
.card-inverse .card-blockquote {
    color: #fff;
}

.card-inverse .card-link,
.card-inverse .card-text,
.card-inverse .card-subtitle,
.card-inverse .card-blockquote .blockquote-footer {
    color: rgba(255, 255, 255, 0.65);
}

.card-inverse .card-link:focus,
.card-inverse .card-link:hover {
    color: #fff;
}

.card-blockquote {
    padding: 0;
    margin-bottom: 0;
    border-left: 0;
}

.card-img {
    border-radius: 0.25rem;
}

.card-img-overlay {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 1.25rem;
}

.card-img-top {
    border-top-right-radius: 0.25rem;
    border-top-left-radius: 0.25rem;
}

.card-img-bottom {
    border-bottom-right-radius: 0.25rem;
    border-bottom-left-radius: 0.25rem;
}

@media (min-width: 544px) {
    .card-deck {
        display: table;
        width: 100%;
        margin-bottom: 0.75rem;
        table-layout: fixed;
        border-spacing: 1.25rem 0;
    }
    .card-deck .card {
        display: table-cell;
        margin-bottom: 0;
        vertical-align: top;
    }
    .card-deck-wrapper {
        margin-right: -1.25rem;
        margin-left: -1.25rem;
    }
}

@media (min-width: 544px) {
    .card-group {
        display: table;
        width: 100%;
        table-layout: fixed;
    }
    .card-group .card {
        display: table-cell;
        vertical-align: top;
    }
    .card-group .card + .card {
        margin-left: 0;
        border-left: 0;
    }
    .card-group .card:first-child {
        border-bottom-right-radius: 0;
        border-top-right-radius: 0;
    }
    .card-group .card:first-child .card-img-top {
        border-top-right-radius: 0;
    }
    .card-group .card:first-child .card-img-bottom {
        border-bottom-right-radius: 0;
    }
    .card-group .card:last-child {
        border-bottom-left-radius: 0;
        border-top-left-radius: 0;
    }
    .card-group .card:last-child .card-img-top {
        border-top-left-radius: 0;
    }
    .card-group .card:last-child .card-img-bottom {
        border-bottom-left-radius: 0;
    }
    .card-group .card:not(:first-child):not(:last-child) {
        border-radius: 0;
    }
    .card-group .card:not(:first-child):not(:last-child) .card-img-top,
    .card-group .card:not(:first-child):not(:last-child) .card-img-bottom {
        border-radius: 0;
    }
}


@media (min-width: 576px) {
  .card-columns {
    -webkit-column-count: 3;
       -moz-column-count: 3;
            column-count: 3;
    -webkit-column-gap: 1.25rem;
       -moz-column-gap: 1.25rem;
            column-gap: 1.25rem;
  }
  .card-columns .card {
    display: inline-block;
    width: 100%;
    margin-bottom: 0.75rem;
  }
}


/* endcards */


/**
 * Links
 */

a {
    color: $brand-color;
    text-decoration: none;
    &:visited {
        color: darken($brand-color, 15%);
    }
    &:hover {
        color: $text-color;
        text-decoration: none;
    }
    &.active {
        border-bottom: 2px solid $text-color;
        -webkit-transition: .5s; /* Safari */
        transition: .5s;
        background-color: $brand-color;
    }
}



/**
* Buttons 
*/

.button,
button,
input[type="submit"],
input[type="reset"],
input[type="button"] {
    display: inline-block;
    height: 18px;
    padding: 0 30px;
    color: #555;
    text-align: center;
    font-size: 11px;
    font-weight: 600;
    line-height: 18px;
    letter-spacing: .1rem;
    text-transform: uppercase;
    text-decoration: none;
    white-space: nowrap;
    background-color: transparent;
    border-radius: 4px;
    border: 1px solid #bbb;
    cursor: pointer;
    box-sizing: border-box;
}


/**
 * Blockquotes
 */

blockquote {
    color: $grey-color;
    border-left: 4px solid $grey-color-light;
    padding-left: $spacing-unit / 2;
    font-size: 18px;
    letter-spacing: -1px;
    font-style: italic;
    >:last-child {
        margin-bottom: 0;
    }
}


/**
 * Code formatting
 */

pre,
code {
    font-size: 15px;
    border: 1px solid $grey-color-light;
    border-radius: 3px;
    background-color: #eef;
}

code {
    padding: 1px 5px;
}

pre {
    padding: 8px 12px;
    overflow-x: auto;
    > code {
        border: 0;
        padding-right: 0;
        padding-left: 0;
    }
}


/**
 * Wrapper
 */

.wrapper {
    max-width: -webkit-calc(#{$content-width} - (#{$spacing-unit} * 2));
    max-width: calc(#{$content-width} - (#{$spacing-unit} * 2));
    margin-right: auto;
    margin-left: auto;
    padding-right: $spacing-unit;
    padding-left: $spacing-unit;
    @extend %clearfix;
    @include media-query($on-laptop) {
        max-width: -webkit-calc(#{$content-width} - (#{$spacing-unit}));
        max-width: calc(#{$content-width} - (#{$spacing-unit}));
        padding-right: $spacing-unit / 2;
        padding-left: $spacing-unit / 2;
    }
}


/**
 * Clearfix
 */

%clearfix {
    &:after {
        content: "";
        display: table;
        clear: both;
    }
}


/**
 * Icons
 */

.icon {
    > svg {
        display: inline-block;
        width: 16px;
        height: 16px;
        vertical-align: middle;
        path {
            fill: $grey-color;
        }
    }
}

// Github contributions
// .git-block-mobile {
//     display: none;
//}
@include media-query($on-palm) {
    .git-block-mobile {
        display: none;
    }
}
