/**
* Grid system
*/
.col-1 {
    width: 8.33%;
}

.col-2 {
    width: 16.66%;
}

.col-3 {
    width: 25%;
}

.col-4 {
    width: 33.33%;
}

.col-5 {
    width: 41.66%;
}

.col-6 {
    width: 50%;
}

.col-7 {
    width: 58.33%;
}

.col-8 {
    width: 66.66%;
}

.col-9 {
    width: 75%;
}

.col-10 {
    width: 83.33%;
}

.col-11 {
    width: 91.66%;
}

.col-12 {
    width: 100%;
}

@media (max-width: 544px) {
    .col-1 {
        width: 100%;
    }
    .col-2 {
        width: 100%;
    }
    .col-3 {
        width: 100%;
    }
    .col-4 {
        width: 100%;
    }
    .col-5 {
        width: 100%;
    }
    .col-6 {
        width: 100%;
    }
    .col-7 {
        width: 100%;
    }
    .col-8 {
        width: 100%;
    }
    .col-9 {
        width: 100%;
    }
    .col-10 {
        width: 100%;
    }
    .col-11 {
        width: 100%;
    }
    .col-12 {
        width: 100%;
    }
}

* {
    box-sizing: border-box;
}

.row::after {
    content: "";
    clear: both;
    display: block;
}

[class*="col-"] {
    float: left;
    padding: 15px;
}


/**
* Site header
*/



.site-header {
    z-index:3;
    top:0px;
    border-top: 5px solid $brand-color;
    // border-bottom: 1px solid $grey-color-light;
    min-height: 50px;
    height:50px;
    // Positioning context for the mobile navigation icon
    position: fixed;
    background-color: $grey-color-dark;
    width: 100%;
    -webkit-transition: .5s; /* Safari */
    transition: .5s;
}

.site-title {

    font-size: 14px;
    font-weight: 900;
    line-height: 42px;
    letter-spacing: 2px;
    margin-bottom: 0;
    text-transform: uppercase;
    float: left;
    &,
    &:visited {
        color: $background-color;
    }
}

/* HAMBURGER */
.hamburger {
    float: left;
    padding: 5px;
}

.hamburger .line{
  width: 25px;
  height: 3px;
  background-color: $background-color;
  display: block;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.hamburger:hover{
  cursor: pointer;
}
#hamburger-6.is-active{
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  -webkit-transition-delay: 0.6s;
  -o-transition-delay: 0.6s;
  transition-delay: 0.6s;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}

#hamburger-6.is-active .line:nth-child(2){
  width: 0px;
}

#hamburger-6.is-active .line:nth-child(1),
#hamburger-6.is-active .line:nth-child(3){
  -webkit-transition-delay: 0.3s;
  -o-transition-delay: 0.3s;
  transition-delay: 0.3s;
}

#hamburger-6.is-active .line:nth-child(1){
  -webkit-transform: translateY(9px);
  -ms-transform: translateY(9px);
  -o-transform: translateY(9px);
  transform: translateY(9px);
}

#hamburger-6.is-active .line:nth-child(3){
  -webkit-transform: translateY(-7px) rotate(90deg);
  -ms-transform: translateY(-7px) rotate(90deg);
  -o-transform: translateY(-7px) rotate(90deg);
  transform: translateY(-7px) rotate(90deg);
}

.center {
    text-align: center;

}
li.center:hover {
    cursor: default!important;
    text-align: center;
    background-color: $text-color!important;
}

.sidebar {
    z-index: 2;
    position: fixed;
    padding-top:50px;
    width: 250px;
    font-size: 16px;
    top: 0;
    bottom: 0;
    left:0;
    background-color: $text-color;
}
.sidebar li {
    margin-left: -30px;
    padding-top:10px;
    padding-bottom:10px;
}
.sidebar li:hover {
    cursor: pointer;
    background-color: $brand-color;
}
.divider {
    padding:0px!important;
    margin-bottom: -39px !important;
    border-top: 1px #fff solid;
    cursor: default!important;
    background-color: $text-color!important;
}
.active {
    background-color: $brand-color;
}
.sidebar > ul > li > a {
    display: block;
    padding-left: 10px;
    color:#fff;
}
.toggle {
    z-index: 4;
    position:fixed;
    color: $brand-color;
    top:5px;
    left: 10px;
    right:0;
    font-size: 30px;
    cursor: pointer;
}
.toggle-hidden {
    z-index: 4;
    position:fixed;
    color: $text-color;
    font-size: 30px;
}

.sidebar-hidden {
    display:none;
}

// .site-nav {
//     float: right;
//     line-height: 56px;
//     .menu-icon {
//         display: none;
//     }
//     .page-link {
//         color: $text-color;
//         line-height: $base-line-height;
//         // Gaps between nav items, but not on the last one
//         &:not(:last-child) {
//             margin-right: 20px;
//         }
//         &:hover {
//             color: $brand-color;
//             border-bottom: 2px solid $brand-color;
//             -webkit-transition: .5s; /* Safari */
//             transition: .5s;
//         }
//     }
//     @include media-query($on-palm) {
//         position: absolute;
//         top: 9px;
//         right: $spacing-unit / 2;
//         background-color: $background-color;
//         border: none;
//         border-radius: 5px;
//         text-align: right;
//         .menu-icon {
//             display: block;
//             float: right;
//             width: 36px;
//             height: 26px;
//             line-height: 0;
//             padding-top: 5px;
//             text-align: center;
//             > svg {
//                 width: 18px;
//                 height: 15px;
//                 path {
//                     fill: $grey-color-dark;
//                 }
//             }
//         }
//         .trigger {
//             clear: both;
//             display: none;
//         }
//         &:hover .trigger {
//             display: block;
//             padding-bottom: 5px;
//         }
//         .page-link {
//             display: block;
//             padding: 5px 10px;
//             &:not(:last-child) {
//                 margin-right: 0;
//             }
//             margin-left: 20px;
//         }
//     }
// }


/**
* Site footer
*/

.site-footer {
    border-top: 1px solid $grey-color-light;
    padding: $spacing-unit 0;
}

.footer-heading {
    font-size: 18px;
    margin-bottom: $spacing-unit / 2;
}

.contact-list,
.social-media-list {
    list-style: none;
    margin-left: 0;
}

.footer-col-wrapper {
    font-size: 15px;
    color: $grey-color;
    margin-left: -$spacing-unit / 2;
    @extend %clearfix;
}

.footer-col {
    float: left;
    margin-bottom: $spacing-unit / 2;
    padding-left: $spacing-unit / 2;
}

.footer-col-1 {
    width: -webkit-calc(35% - (#{$spacing-unit} / 2));
    width: calc(35% - (#{$spacing-unit} / 2));
}

.footer-col-2 {
    width: -webkit-calc(20% - (#{$spacing-unit} / 2));
    width: calc(20% - (#{$spacing-unit} / 2));
}

.footer-col-3 {
    width: -webkit-calc(45% - (#{$spacing-unit} / 2));
    width: calc(45% - (#{$spacing-unit} / 2));
}

@include media-query($on-laptop) {
    .footer-col-1,
    .footer-col-2 {
        width: -webkit-calc(50% - (#{$spacing-unit} / 2));
        width: calc(50% - (#{$spacing-unit} / 2));
    }
    .footer-col-3 {
        width: -webkit-calc(100% - (#{$spacing-unit} / 2));
        width: calc(100% - (#{$spacing-unit} / 2));
    }
}

@include media-query($on-palm) {
    .footer-col {
        float: none;
        width: -webkit-calc(100% - (#{$spacing-unit} / 2));
        width: calc(100% - (#{$spacing-unit} / 2));
    }
}
/**
* Page content
*/

.page-content {
    padding-top: $spacing-unit * 2.5;
}

.page-heading {
    font-size: 20px;
}

.post-list {
    margin-left: 0;
    list-style: none;
    > li {
        margin-bottom: $spacing-unit;
    }
}

.post-meta {
    font-size: $small-font-size;
    color: $grey-color;
}

.post-meta1 {
    font-size: $small-font-size;
    color: $grey-color;
    float: right;
}

.post-link {
    display: block;
    font-size: 24px;
}


/**
* Posts
*/

.post-header {
    margin-bottom: $spacing-unit;
}

.post-title {
    font-size: 42px;
    letter-spacing: -1px;
    line-height: 1;
    @include media-query($on-laptop) {
        font-size: 36px;
    }
}

.post-content {
    margin-bottom: $spacing-unit;
    h2 {
        font-size: 32px;
        @include media-query($on-laptop) {
            font-size: 28px;
        }
    }
    h3 {
        font-size: 26px;
        @include media-query($on-laptop) {
            font-size: 22px;
        }
    }
    h4 {
        font-size: 20px;
        @include media-query($on-laptop) {
            font-size: 18px;
        }
    }
}
// Next & Previous post
.PageNavigation {
  font-size: 14px;
  display: block;
  width: auto;
  overflow: hidden;
}

.PageNavigation a {
  display: block;
  width: 50%;
  float: left;
  margin: 1em 0;
}

.PageNavigation .next {
  text-align: right;
}

