<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>
<div style="background-image: url(https://source.unsplash.com/category/technology); background-size: cover; background-position: center; height: 300px" />
</div>
    {% include header.html %}

    <div class="page-content">
      <div class="wrapper">
        {{ content }}
      </div>
    </div>

    {% include footer.html %}
    <nav class="sidebar">
        {% for my_page in site.pages %}
          {% if my_page.title %}
          <li><a class="" href="{{ my_page.url | prepend: site.baseurl }}">{{ my_page.title }}</a></li>
          {% endif %}
        {% endfor %}
    </nav>
  </body>

</html>
