<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>
  <div hidden id="page-url">{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}</div>
  <div hidden id="page-id">{{ page.title }}</div>
  <div id="banner_imgs" style="background-image: url(https://source.unsplash.com/category/technology); background-size: cover; background-position: center; height: 300px" />
  </div>
    {% include header.html %}

    <div class="page-content">
      <div class="wrapper">
        {{ content }}
        {% if page.comments %}
        <div id="disqus_thread"></div>
      
      <script>
      var pgurl = $("#page-url").html();
      var pgid = $("#page-id").html();

      var disqus_config = function () {
      this.page.url = pgurl;  
      this.page.identifier = pgid; 
      }
      console.log("get disqus");
      (function() { 
      var d = document, s = d.createElement('script');
      s.src = '//tdevisscherca.disqus.com/embed.js';
      s.setAttribute('data-timestamp', +new Date());
      (d.head || d.body).appendChild(s);
      })();
      </script>
      <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
        {% endif %}
      </div>
    </div>

    {% include footer.html %}
    <nav class="sidebar">
        {% for my_page in site.pages %}
          {% if my_page.title %}
            {% if my_page.menu == 'main' %}
              <li><a class="" href="{{ my_page.url | prepend: site.baseurl }}">{{ my_page.title }}</a></li>
            {% endif %}
          {% endif %}
        {% endfor %}
    </nav>
    <script type="text/javascript" charset="utf-8" async defer>
     var images = ['image1-min.jpg', 'image2-min.jpg', 'image3-min.jpg', 'image4-min.jpg', 'image5-min.jpg', 'image6-min.jpg', 'image7-min.jpg', 'image8-min.jpg', 'image9-min.jpg', 'image10-min.jpg', 'image11-min.jpg', 'image12-min.jpg', 'image13-min.jpg', 'image14-min.jpg', 'image15-min.jpg', 'image16-min.jpg', 'image17-min.jpg', 'image18-min.jpg', 'image19-min.jpg', 'image20-min.jpg', 'image21-min.jpg', 'image22-min.jpg', 'image23-min.jpg', 'image24-min.jpg', 'image25-min.jpg', 'image26-min.jpg', 'image27-min.jpg', 'image28-min.jpg', 'image29-min.jpg', 'image30-min.jpg', 'image31-min.jpg']; 
      $('#banner_imgs').css({'background-image': 'url(/assets/bannerimages/' + images[Math.floor(Math.random() * images.length)] + ')'});
      </script>
    </body>

</html>
